.container {
  position: absolute;
  margin: 0px;
  width: 950px;
  left: 350px;
}

.header {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  
}

.ticketList {
  display: grid;
  text-align: center;
}

.assignedPersonel {
  display: grid;
  text-align: center;
}

.projectDetials {
  display: grid;
  text-align: center;
  align-items: center;
  font-size: 0.9rem;
}
.heading {
  padding: 5px;
}
.projectDetials table {
  border-collapse: collapse;
}

.projectDetials thead {
  padding: 0.75rem 2rem;
  letter-spacing: 0.1rem;
  font-weight: 450;
  text-transform: uppercase;
  background-color: rgb(173, 84, 84);
}
.projectDetials tbody tr {
  cursor: pointer;
}
.projectDetials tbody td {
  padding: 0.9rem;
}

.description {
  margin-top: 20px;
}

/* .projectDetials tbody tr:nth-child(odd) {

} */
