.container {
  position: absolute;
  margin: 0px;
  width: 950px;
  left: 350px;
}

.header {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  
}

.ticketList {
  display: grid;
  text-align: center;
}

.assignedPersonel {
  display: grid;
  text-align: center;
}
