.navigation {
  position: absolute;
  width: 300px;
  height: 100vh;
  background-color: 	rgb(192,192,192)
}

.header {
  font-size: 2rem;
  font-weight: 800;
  padding: 10px;
  margin: 30px;
  text-align: center;
  color: white;
}

.navigation ul {
  padding: 0;
  margin-top: 0px;
}

.navigation li {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-gap: 0px;
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
  width: 100%;
  border-radius: 1px;
}
.navigation li a {
  background-color: hsl(186, 20%, 37%);
  border-radius: 10px;
  color: white;
}

.navigation li:hover {
  background-color: white;
}

.logo {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
.active {
  background-color: white;
}
