.navigation {
  position: fixed;
  width: 300px;
  height: 100vh;
  background: linear-gradient(225deg, #e91e63, #5a1551);
}

.header {
  font-size: 2rem;
  font-weight: 800;
  padding: 10px;
  margin: 30px;
  text-align: center;
  color: white;
}

.navigation ul {
  padding: 0;
  margin-top: 0px;
}

.navigation li {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-gap: 0px;
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
  width: 100%;
  border-radius: 1px;
  color: black;
  transition: all 0.8s ease;
}
.navigation li a {
  border-radius: 10px;
  color: white;
    transition: all 0.8s ease;

}

.navigation li:hover {
  background-color: white;
  color: black;
}

.navigation li a:hover {
color: black;}

.logo {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
.active {
  transition: all 0.5s ease-in-out;
  background: rgba(0, 0, 0, 0.4);
  color: white;
}
