.iconCard {
  background: #eee;
  box-shadow: rgba(120, 173, 194, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 1px;
  cursor: pointer;
  text-align: center;
  display: flex;
  grid-gap: 0px;
  height: 80px;
}

.infoBox {
  position: relative;
  margin-top: 14px;
  text-align: left;
  left: 20px;
  padding: 3px;
  width: 80%;
}

.iconNumber {
  position: relative;
  text-align: center;
}


.iconBox {
  font-size: 2em;
  color: black;
  padding: 2px;
  margin-top: 14px;
  text-align: right;
}
