.projectList {
  display: grid;
  text-align: center;
  align-items: center;
  font-size: 0.9rem;
}
.heading {
  padding: 5px;
}
.projectList table {
  border-collapse: collapse;
}

.projectList thead {
  padding: 0.75rem 2rem;
  letter-spacing: 0.1rem;
  font-weight: 450;
  text-transform: uppercase;
  background-color: rgb(173, 84, 84);
}
.projectList tbody tr {
  cursor: pointer;
}
.projectList tbody td {
  padding: 0.9rem;
  border-bottom: 1px solid rgb(12, 12, 12, 0.3);
}

/* .projectList tbody tr:nth-child(odd) {

} */
