.project__list {
  position: absolute;
  margin: 20px;
  width: 950px;
  left: 350px;
}

.table {
  text-align: center;
  justify-content: space-around;
  border-collapse: collapse;
  box-sizing: border-box;
  margin-bottom:10px;
  width: 100%;
}

.table__tr {
  border-bottom: 2px solid black;
  border-width: 2px;
}
