.commentList {
  display: grid;
  text-align: center;
  align-items: center;
  font-size: 0.9rem;
}
.heading {
  text-align: center; 
  padding: 5px;
}
.commentList {
  border-collapse: collapse;
}

.commentList thead {
  padding: 0.75rem 2rem;
  letter-spacing: 0.1rem;
  font-weight: 450;
  text-transform: uppercase;
  background-color: rgb(173, 84, 84);
}
.commentList tbody tr {
  cursor: pointer;
}
.commentList tbody td {
  padding: 0.9rem;
  border-bottom: 1px solid rgb(12, 12, 12, 0.3);
}



/* .commentList tbody tr:nth-child(odd) {

} */
